page-customer-add-services {
 .servicedata{
      
       float:left;
       padding:25px;

  }
  .main{
    border-bottom:1px solid black;
    height:93px;
}
.book{
	float: right;
    margin-right: 10px;
    margin-top: 19px;
}
.btn-book{
	border-radius:12px;
}
.toolbar-title-ios {
   font-size: 13px;
  font-family: Open Sans !important;
    
 }
}
