page-salon-category {

.first_div{
background-color: grey;
    // border-bottom: 1px solid grey;
    color: white;
    font-family: open-sans;
    height: 30px;
    margin-left: 0;
    opacity: 0.6;
    padding-left: 21px;
    padding-top: 8px;

}
.toolbar-title-md {
        font-family: Open Sans !important;
   
}
.toolbar-title-ios {
   font-size: 13px;
    font-family: Open Sans !important;
    
}
.button-md {
      background-color: #ff0000;
    border-radius: 21px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    height: 3.6rem;
    margin: 2.4rem 35%;
    padding: 0 1.1em;
    text-transform: uppercase;
    width: 30%;
   
}
.button-ios {
      background-color: #ff0000;
    border-radius: 21px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    height: 3.6rem;
    margin: 2.4rem 35%;
    padding: 0 1.1em;
    text-transform: uppercase;
    width: 30%;
   
}

form, input, optgroup, select {
    color: inherit;
    font: inherit;
    margin-left: 24px;
    margin-top: 8px;
}
}
