page-my-salon-home {


  img {
    border: 0 none;
    max-width: 100%;
    height: 34px;
    width: 34px
}
.bar-button-ios {
    border: 0 none;
    border-radius: 4px;
    font-size: 1.7rem;
    height: 32px;
    margin-top: 11px;
    padding: 0 4px;
}
.notification_count{

    border-radius: 100% ;
   
    width:20px;
    background-color: red;
    position: absolute;
    top:22%; 
    right: 5px;
    color:#fff;
    text-align: center
}
.bar-button-md {
font-size: 34px;
}

.bar-button-ios {
  
    font-size: 34px;
 }  
 
.toolbar-title-md {
        font-family: Open Sans !important;
   
}
.toolbar-title-ios {
   font-size: 13px;
    font-family: Open Sans !important;
    
}
 .bar-button-menutoggle-ios {
  
    margin: -9px 7px -24px;
   
}





.right_div{

 background-color: #e0dedf;
    border-radius: 100%;
    float: right;
    height: 50px;

    margin-right: 25%;
    margin-top: 0px;
    width: 50px;

}
.right_div2{

 background-color: #e0dedf;
    border-radius: 100%;
    float: right;
    height: 50px;
     margin-right: 25%;  
    margin-top: 21px;
    width: 50px;
}

  .right_div3{

 background-color: #e0dedf;
    border-radius: 100%;
    float: right;
    height: 50px;
     margin-right: 25%;  
    margin-top: 21px;
    width: 50px;
}
 .right_div4{

 background-color: #e0dedf;
    border-radius: 100%;
    float: right;
    height: 50px;
   margin-right: 25%;
    margin-top: 21px;
    width: 50px;
}
  .right_div5{

 background-color: #e0dedf;
    border-radius: 100%;
    float: right;
    height: 50px;
     margin-right: 25%;
    margin-top: 21px;
    width: 50px;
}   
  .maindiv{
    height:100px;
    margin-top: -16px;
    width: 100%
  }


.left_div2{

 background-color: #e0dedf;
    border-radius: 100%;
    float: left;
    height:50px;
   
    margin-left: 21%;
    margin-top: 0px;
    width: 50px;

}

.left_div3{

 background-color: #e0dedf;
    border-radius: 100%;
    float: left;
    height:50px;
   
     margin-left: 21%;
    margin-top: 21px;
    width: 50px;
}
.left_div4{

 background-color: #e0dedf;
    border-radius: 100%;
    float: left;
    height:50px;
   
      margin-left: 21%;
    margin-top: 21px;
    width: 50px;

}
.left_div5{

 background-color: #e0dedf;
    border-radius: 100%;
    float: left;
    height:50px;
   
     margin-left: 21%;
    margin-top: 21px;
    width: 50px;
}
.left_div6{

 background-color: #e0dedf;
    border-radius: 100%;
    float: left;
    height:50px;
   
      margin-left: 21%;
    margin-top: 21px;
    width: 50px;

}

.last_div{

 background-color: #e0dedf;
    border-radius: 100%;
      
    height: 50px;
   
    margin-left: -18px;
    margin-top: -18px;
    width: 50px;

}

.imageclass{
height:35px;
    margin-top: 5px;
    margin-left: 7px



}
.namediv{
color: #fff;
    float: left;
    margin-left: -4px;
    margin-top: 13px;
    width: 150px;
}


.namediv2{

     color: #fff;
    float: right;
    margin-right: -37px;
    margin-top: 13px;
    width: 81px;


}


.namediv3{
color: #fff;
    float: right;
    margin-right: -72px;
    margin-top: 13px;
    width: 134px;
}



 
}