page-my-salon-client-details {
.textclass{
font-family: open-sense;
font-size: 15px

}
.row {
    border-bottom: 3px solid #e9e9e9;
}

.item-md.item-block .item-inner {
    border-bottom: 0px ;
}

.item-md {
  
    border-bottom: 3px solid #e9e9e9;
   
}
}