page-customer-without-payment {
.icon{
	text-align: center;

}
.check-icon{
	font-size: 12.2em;
	color:#56C5C2;
}
.amount1{
	font-family:'OpenSans-Regular';
	font-size: 2.2em;
	margin-top: 10%;

}
.amount{
	font-family:'OpenSans-Regular';
	font-size: 2.2em;


}
.btn{
	text-align: center;
}
.email{
	text-align: center;
	margin-top: 10%;
}
.amount-text{
font-family:'OpenSans-Regular';
font-size: 2.2em;	
}
.field{
	
}
.field-value{
	
}
.payment-data{
	margin-top:2%;
	text-align:center;
}
.heading {
   
    margin-top: 4%;
    padding: 4px;
}
.main{
	background: rgb(255, 255, 255) none repeat scroll 0 0;
    border: 1px solid rgb(0, 0, 0);
    font-family: "OpenSans-Regular";
    margin-top: 40px;
}
.toolbar-title-ios {
   font-size: 13px;
  font-family: Open Sans !important;
    
 }
}
