page-my-salon-subscrption-page3 {
.icon{
    text-align: center;

}
.check-icon{
    font-size: 12.2em;
    color:#56C5C2;
}
.amount{
    font-family:'OpenSans-Regular';
    font-size: 2.2em;

}
.amount-text{
font-family:'OpenSans-Regular';
font-size: 2.2em;   
}
.field{
    
}
.field-value{
    
}
.payment-data{
    margin-top:2%;
    text-align:center;
}
.heading {
    border: 1px solid rgb(0, 0, 0);
    margin-top: 4%;
}
.main{
    font-family:'OpenSans-Regular';
}


}
