page-how-it-works {
  .para{
     padding:10px;
     text-align: justify;
     font-size: 11px;
  }
  .slide-data {
    height: 337px;
    width: 100%;
}
.toolbar-title-ios {
   font-size: 13px;
    font-family: Open Sans !important;
    
 }
   .toolbar-ios ion-title {
    padding: 10px 90px 1px;
    font-family: 'OpenSans-Regular';
    font-size:13px;
}
}
