page-about-us {
  .about-div{
  height:234px;
  
  }
  .toolbar-title-md {
   font-family: 'OpenSans-Regular';
}
.aboutinfo{
	padding:12px;
	font-family: 'OpenSans-Regular';
}
.about{
	text-align: center;
	margin-top: 45px;
}
.toolbar-title-ios {
   font-size: 13px;
    font-family: Open Sans !important;
    
 }
  .toolbar-ios ion-title {
    padding: 10px 90px 1px;
    font-family: 'OpenSans-Regular';
    font-size:13px;
}
}
