page-pending-payment-success {
.icon{
	text-align: center;

}
.check-icon{
	font-size: 12.2em;
	color:#56C5C2;
}
.amount{
	font-family:'OpenSans-Regular';
	font-size: 2.2em;

}
.amount-text{
font-family:'OpenSans-Regular';
font-size: 2.2em;	
}
.field{
	
}
.toolbar-title {
  
    text-align: center;
   
}
.field-value{
	
}
.btn{
	text-align: center;
}
.payment-data{
	margin-top:2%;
	text-align:center;
}
.heading {
   
    margin-top: 4%;
    padding: 4px;
}
.main{
	background: rgb(255, 255, 255) none repeat scroll 0 0;
    border: 1px solid rgb(0, 0, 0);
    font-family: "OpenSans-Regular";
    margin-top: 40px;
}
.toolbar-title-ios {
   font-size: 13px;
    font-family: Open Sans !important;
    
 }
}
