page-employee-online-offline {
.status{
	font-family: 'OpenSans-Regular';
}
.toolbar-ios ion-title {
    padding: 10px 90px 1px;
    font-family: 'OpenSans-Regular';
    font-size:13px;
}
.toolbar-title-ios {
   font-size: 13px;
  font-family: Open Sans !important;
    
 }
}
