page-customer-employee-previous-work-images {
.heading{
	text-align: center;
	font-family: 'OpenSans-Regular';
}
.no-images{
	text-align: center;
	font-family: 'OpenSans-Regular';
	margin-top:60%;
}
.work{
	object-fit: cover;
	width: 100%;
}
}
