page-salon-address-details {
  .name{
      font-family:'OpenSans-Regular';
  }
  .address{
  	background-color:  #f4f4f4;
  	height: 29px;
  }
  .text {
    padding: 6px;
    font-family:'OpenSans-Regular';
}
#map5{
    width: 100%;
    height: 45%;
    opacity: 1; 
    }
    .item-text{
    	font-size: 0.9rem;
    	font-family:'OpenSans-Regular';

    }
}
