page-forget-password {
	.forget-data{
		margin-top: 30px;
	}
  .forget-text{
        text-align: center;
        font-family:'OpenSans-Regular';
  }
  .item-data{
  	margin-top: 30px;
  	background: #E1E1E1;
  }
  .fgt-btn{
  	width:80%;
  	margin-left: 10%;
  	margin-top: 10%;
  	font-family:'OpenSans-Regular';
    border-radius: 20px;
  }
  .rsend{
  	text-align: center;
  	margin-top: 16px;
  	font-family:'OpenSans-Regular';
  }
  .toolbar-title {
	font-family:'OpenSans-Regular';
    display: block;
    overflow: hidden;
   
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
}
