page-customer-bookings {
.toolbar-title-md {
   
    font-size: 2rem;
    font-weight: 500;
    font-family: 'OpenSans-Regular';
    padding: 0 0px;
    
}
.toolbar-title-ios {
   font-size: 13px;
    font-family: Open Sans !important;
    
 }
   .toolbar-ios ion-title {
    padding: 5px 90px 1px;
    font-family: 'OpenSans-Regular';
    font-size:13px;
}
.circle-image{
	
   border-radius: 100%;
   object-fit: cover;
   margin-top: 15px;
  
}
.salondetails{
	float:right;
}
.item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {
    height: 57px;
    width: 53px;
}
.btn{
    font-size: 9.2px;
}
.past {
    margin-top: 50%;
    text-align: center;
    font-family:'OpenSans-Regular';
}
.item-md{
	border-bottom: 1px solid black !important;

}
.item-md ion-thumbnail {
    min-height: 80px;
    min-width: 0px;
}

.item-ios{
	border-bottom: 1px solid black;
}
.detail{
	 
	 float:left;
	 
	font-size:11px;
	 font-family: 'OpenSans-Regular';
	 margin-top: 15px;
}
.detail2{
	font-size:11px;
	 font-family: 'OpenSans-Regular';
}
.cancel-div{
	
	left: 65%;
    position: absolute;
    top: 62%;
	
}
.side{
	width: 30%;
}
.label-md {
    margin: 0 8px 13px 0;
}
.cancel{
	float:right;
	
}
}
