page-customer-salon-gallery {
.gallerytext{
	text-align:center;
	 font-family:'OpenSans-Regular';
}
.slide{
	height:207px;
	width:100%;
	object-fit: cover;
}
.toolbar-title-md {
    font-family:'OpenSans-Regular';
}
.image-div{
	margin-top:2%;
}
}
